[Unit]
Description=continious integration snake

[Service]
WorkingDirectory=/srv/http/
ExecStart=/usr/bin/uroboros --debug
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
